<div class="header" *ngIf="isConnectedToController() && isConnectedToPendantAPI()">
  <nav class="navbar navbar-expand-md navbar-light fixed-top bg-light">
    <a class="navbar-brand" href="#"><svg><use xlink:href="../assets/icons.svg#cm-logo"></use></svg></a>
    <ul class="nav navbar-nav">
      <li class="nav-item active">
        <button class="btn btn-link" routerLinkActive="active" (click)="toggleStaff()">Staff</button>
      </li>
    </ul>
  </nav>
</div>

<div class="container">
  <div *ngIf="isConnectedToController() && isConnectedToPendantAPI() && !showStaff">
    <router-outlet></router-outlet>
  </div>

  <div *ngIf="isConnectedToController() && isConnectedToPendantAPI() && showStaff">
    <app-staff></app-staff>
  </div>

  <div class="d-flex justify-content-center align-items-center"
       *ngIf="isConnectedToPendantAPI() && !isConnectedToController()">
    <div class="card col-sm-10 col-md-6">
      <div class="card-body">
        <h5 class="card-title">Connect to controller</h5>
        <app-connect></app-connect>
      </div>
    </div>
  </div>

  <div class="d-flex justify-content-center align-items-center" *ngIf="!isConnectedToPendantAPI()">
    <div class="card col-sm-10 col-md-6">
      <div class="card-body">
        <div class="row align-items-center">
          <div class="col">
            Waiting for the machine to become available...
          </div>
          <div class="col-2">
            <div class="spinner-border text-info" role="status" aria-hidden="true"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div *ngIf="isConnectedToController() && isConnectedToPendantAPI()">
  <app-footer></app-footer>
</div>
