@import "../../../variables";

section.step-3 {
  position:absolute;
  top:0px;
  left:0px;
  width:100%;
  height:100vh;
  background:#fff;
  display:none;
  flex-direction:column;
  justify-content: center;
  align-items:center;
  text-align: center;
  transition:opacity 1s;

  h1 {
    max-width: 540px;
  }
}


section.step-3.show {
  display:flex;
}


section.step-4 {
  position:absolute;
  top:0px;
  left:0px;
  width:100%;
  height:100vh;
  background:#fff;
  display:none;
  // flex-direction:column;
  // justify-content: center;
  // align-items:center;

}

section.step-4.show {
  display:block;
}

button {
  margin:0px 5px;
}

button:first-of-type {
  box-shadow:-5px 5px 0px $blue;
}

.d-flex {
	height:100vh;
}
