@import "../../../variables";

section.step-3 {
  position:absolute;
  top:0px;
  left:0px;
  width:100%;
  height:100vh;
  background:#fff;
  background-image:url(/assets/images/background2.svg);
  background-size:cover;
  background-position:center;
  display:none;
  flex-direction:column;
  justify-content: center;
  align-items:center;
  text-align: center;
  transition:opacity 1s;

  h1 {
    max-width: 540px;
    color:black;
  }

  h6 {
    margin-top:50px;
  }


}


section.step-3.show {
  display:flex;
}


section.step-4 {
  position:absolute;
  top:0px;
  left:0px;
  width:100%;
  height:100vh;
  background:#fff;
  background-image:url(/assets/images/background2.svg);
  background-size:cover;
  background-position:center;
  display:none;
  // flex-direction:column;
  // justify-content: center;
  // align-items:center;

  h1 {
    color:black;
  }

   .logo-tag {
    width: 170px;
    position: absolute;
    left: 50%;
    bottom: 60px;
    transform: translateX(-50%);
  }

}

section.step-4.show {
  display:block;
}

button {
  margin:0px 5px;
}



.d-flex {
	height:100vh;
}
